
    <div class="componentContainer">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="componentTitle">
                   {{title}}
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>Propiedades</td>
                            <td>Descripción</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>objId</td>
                            <td>El id del objeto que le generara al input</td>
                        </tr>
                        <tr>
                            <td>name</td>
                            <td>El nombre que le asignara al label del input</td>
                        </tr>
                        <tr>
                            <td>value</td>
                            <td>El valor que le asignara al datepicker</td>
                        </tr>
                        <tr>
                            <td>format</td>
                            <td>El formato de fecha que le asignara al datepicker</td>
                        </tr>
                        <tr>
                            <td>isRequired (Opcional) - defaultValue : false</td>
                            <td>Verifica si este campo es requerido o no</td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <h4>HTML</h4>
                    <pre rel="HTML">
                    <code style="float:left" [innerHTML]="codeHtml">
                       
                        </code>                        
                    </pre>
                </div>
                <div>
                    <h4>JS</h4>
                    <pre rel="HTML">
                        <code style="float:left" [innerHTML]="codeJs">
                       
                        </code>                        
                    </pre>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="componentTitle">
                            Example
                        </h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>
                                    <div>
                                        <div>
                                            
                                            <!--<my-datebox obj-id="demo"
                                                        name="Demo-Label"
                                                        value.bind="defaultValue"
                                                        format="mm/dd/yyyy">
                                            </my-datebox>-->
                                        </div>
                                        <div>
                                            Valor del dateBox : {{defaultValue }}
                                        </div>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <div>
                                            <!--<my-datebox obj-id="demoRequired"
                                                        name="Demo-Required-Label"
                                                        value.bind="requiredValue"
                                                        format="dd/mm/yyyy"
                                                        is-required="true">
                                            </my-datebox>-->
                                        </div>
                                        <div>
                                            Valor del dateBox :  {{requiredValue }}
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table> 
                    </div>
                </div>
            </div>
        </div>
    </div> 