<div class="componentContainer">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="componentTitle">
                {{title}}
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Propiedades</td>
                        <td>Descripción</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>objId</td>
                        <td>El id del objeto que le generara al input</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>El nombre que le asignara al label del input</td>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>El valor que le asignara al input</td>
                    </tr>
                    <tr>
                        <td>class (Opcional) - defaultValue : ''</td>
                        <td>Una clase en especifico que se quiera para el checbox</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <h4>HTML</h4>
                <pre rel="HTML">
                        <code style="float:left" [innerHTML]="codeHtml">
                       
                        </code>
                    </pre>
            </div>
            <div>
                <h4>JS</h4>
                <pre rel="HTML">
                        <code style="float:left" [innerHTML]="codeJs">
                       
                        </code>
                    </pre>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="componentTitle">
                        Example
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td>
                                <my-checkbox objId="demo" name="Default" [(value)]="defaultValue">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{defaultValue}}
                                </div>
                            </td>
                            <td>
                                <my-checkbox objId="demoPrimary" name="Primary" [(value)]="primaryValue" class="checkbox-primary">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{primaryValue}}
                                </div>
                            </td>
                            <td>
                                <my-checkbox objId="demoSucess" name="Sucess" [(value)]="sucessValue" class="checkbox-success">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{sucessValue}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <my-checkbox objId="demoInfo" name="Info" [(value)]="infoValue" class="checkbox-info">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{infoValue}}
                                </div>
                            </td>
                            <td>
                                <my-checkbox objId="demoWarning" name="Warning" [(value)]="warningValue" class="checkbox-warning">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{warningValue}}
                                </div>
                            </td>
                            <td>
                                <my-checkbox objId="demoDanger" name="Danger" [(value)]="errorValue" class="checkbox-danger">
                                </my-checkbox>
                                <div>
                                    Valor del Checkbox : {{errorValue}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>