 <div id="wrapper" class="active">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar_menu" class="sidebar-nav">
                <li class="sidebar-brand"><a id="menu-toggle" href="#">Home<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
                
                <li><a [routerLink]="['/aboutCheckbox']">Checkbox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutDatebox']">Datebox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutDropdown']">Dropdown<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutLabel']">Label<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutPicklist']">Picklist<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Maskedbox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Menu<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Moneybox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Numericbox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutRadioButton']">Radiobutton<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a>Textarea<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                <li><a [routerLink]="['/aboutTextbox']">Textbox<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
                
             </ul>
       </div>
        <div class="componentRouteContainer">
            <div>
               
            </div> 
        </div>
    </div>